/*IMPORTANT*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

* {
    font-family: "Poppins", 'sans-serif';
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    --primary: hsl(0, 88%, 44%);
    --primaryShade: hsl(0, 0%, 100%);
    --secondaryShade: hsl(200, 20%, 97%);
    --tertiaryShade: hsl(240, 18%, 20%);
    --quaternaryShade: hsl(230, 20%, 22%);
}

body::-webkit-scrollbar {
    width: 14px;
    background: #e3e9f0;
}

body::-webkit-scrollbar-thumb {
    background: #36394550;
    width: 100%;
}

body::-webkit-scrollbar-thumb:hover {
    background: #36394580;
}


/*NAVBAR*/

.navBodyStopOverflow {
    overflow-y: hidden;
}

.navTopBar {
    position: fixed;
    width: 95%;
    padding: 0 2.5%;
    height: 55px;
    line-height: 55px;
    transition: all 0.3s;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    --navColor: rgb(255, 255, 255);
}

.navTopBarNotTop {
    --navColor: rgb(0, 0, 0);
    background: var(--primaryShade);
    box-shadow: rgba(0, 0, 0, 0.04) 0 18px 18px 0;
}

.navParent:hover .navTopBar {
    --navColor: rgb(0, 0, 0);
    background: var(--primaryShade);
    box-shadow: rgba(0, 0, 0, 0.04) 0 18px 18px 0;
}

.navParent:focus-within .navTopBar {
    --navColor: rgb(0, 0, 0);
    background: var(--primaryShade);
    box-shadow: rgba(0, 0, 0, 0.04) 0 18px 18px 0;
}

.navChild {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100%;
}

.navLeft {}

.navSideBarButton {
    float: left;
    height: 45px;
    width: 45px;
    margin: 5px 10px;
    margin-left: 0;
    cursor: pointer;
    transition: all 0.3s;
    padding-right: 5px;
}

.navSideBarButton:hover {}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: var(--navColor);
    margin: 8.5px 7.5px;
    transition: all 0.2s;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px 0;
}

.barActive1 {
    background-color: var(--primary);
    top: 7px;
    transform: rotate(-30deg);
    width: 20px;
}

.barActive2 {
    background-color: var(--primary);
    width: 40px;
}

.barActive3 {
    background-color: var(--primary);
    top: -7px;
    transform: rotate(30deg);
    width: 20px;
}

.navTopper {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    text-decoration: none;
    width: fit-content;
    gap: 5px;
    padding: 0 5px;
    height: 55px;
}

.navTopper:hover {
    background: var(--secondaryShade);
}

.navTopper:focus {
    background: var(--secondaryShade);
}

.navIcon {
    width: 45px;
    height: 45px;
}

.navHeader {
    margin: 0;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 400;
    color: var(--navColor);
}

.navRight {}

.navRightLeft {
    display: flex;
}

.navRightLeft a {
    text-decoration: none;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    font-weight: 350;
    color: var(--navColor);
}

.navRightLeft a:hover {
    background: var(--secondaryShade);
    opacity: 1;
}

.navRightLeft a span {
    padding-right: 5px;
}

.navRightRight {
    display: flex;
    align-items: center;
    padding: 0 15px
}

.navRightButton {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    background: var(--primary);
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 8px 0;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.navRightButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 6px 8px 0, inset rgba(0, 0, 0, 0.12) 0 0 0 10000px;
}

.navRightButton:focus {
    box-shadow: rgba(0, 0, 0, 0.4) 0 8px 14px 0, inset rgba(0, 0, 0, 0.2) 0 0 0 10000px;
}

.navRightButton span {
    padding-right: 5px;
}

.navRightButtonAlt {
    background: transparent;
    color: var(--primary);
    box-shadow: none;
    border-radius: 0;
    height: 55px;
    line-height: 55px;
    transition: all 0.3s;
}

.navRightButtonAlt:hover {
    box-shadow: inset rgba(0, 0, 0, 0) 0 0 0 1000px, inset var(--primary) 0 -4px 0 0;
}

.navRightButtonAlt:focus {
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1000px, inset var(--primary) 0 -55px 0 0, rgba(0, 0, 0, 0.2) 0 6px 8px 0;
    color: white;
}

.navRightIcon {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 55px;
    padding: 0 5px;
    transition: all 0.3s;
    color: var(--navColor);
}

.navRightIcon:hover {
    background: var(--secondaryShade);
}

.navRightIcon span {
    font-size: 45px;
}

.navSideBar {
    background: var(--secondaryShade);
    width: 250px;
    min-height: calc(100vh - 55px);
    padding: 10px 0;
    left: -250px;
    top: 55px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 20px 0;
    z-index: 999;
    overflow: visible;
    opacity: 0;
    transition: opacity 0.2s, left 0.2s;
    display: flex;
    flex-direction: column;
}

.navSideBarActive {
    left: 0;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 20px 0, rgba(0, 0, 0, 0.2) 0 0 0 10000px;
}

.navSideBar h3 {
    padding-left: 15px;
    font-size: 24px;
    margin: 10px 0;
    pointer-events: none;
    font-weight: 400;
    color: var(--navColor);
}

.navSideBar a {
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 18px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    font-weight: 350;
    color: var(--navColor);
}

.navSideBar a:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 20px 0;
    background: var(--primaryShade);
    opacity: 1;
}

.navSideBar a span {
    padding-right: 5px;
}

.navTopBar .navDropDownButton {
    user-select: none;
}

.navTopBar .navDropDownButton:hover {
    opacity: 1;
}

.navTopBar .navDropDownParent {
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
}

.navTopBar .navDropDownContentParent {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    right: -13px;
    top: 75px;
    background: transparent;
    padding: 12px;
    transition: all 0.3s;
}

.navTopBar .navDropDownContentChild {
    box-shadow: rgba(0, 0, 0, 0.08) 0 12px 22px 2px, rgba(0, 0, 0, 0.055) 0 12px 12px;
    border-radius: 3px;
    overflow: hidden;
    min-width: 200px;
    width: max-content;
    transition: all 0.3s;
    background: var(--primaryShade);
    display: flex;
    flex-direction: column;
}

.navTopBar .navDropDownContentChild:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0 12px 22px 2px, rgba(0, 0, 0, 0.075) 0 12px 12px;
}

.navTopBar .navDropDownContentChild a {}

.navTopBar .navDropDownContentChild a:hover {
    background: var(--secondaryShade);
}

.navTopBar .navDropDownParent:hover .navDropDownContentParent {
    opacity: 1;
    pointer-events: all;
    top: 50px;
}

.navTopBar .navDropDownParent:focus-within .navDropDownContentParent {
    opacity: 1;
    pointer-events: all;
    top: 50px;
}

.navTopBar .navDropDownParent:hover .navDropDownButton {
    background: var(--secondaryShade);
}

.navSideBar .navDropDownButton {
    user-select: none;
}

.navSideBar .navDropDownButton:hover {
    opacity: 1;
}

.navSideBar .navDropDownParent {
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
}

.navSideBar .navDropDownContentParent {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: transparent;
    transition: all 0.3s;
    position: relative;
    left: -30px;
    max-height: 0;
}

.navSideBar .navDropDownContentChild {
    display: flex;
    flex-direction: column;
}

.navSideBar .navDropDownContentChild a:hover {
    background: var(--primaryShade);
}

.navSideBar .navDropDownParent:focus-within .navDropDownContentParent {
    opacity: 1;
    pointer-events: all;
    max-height: 1000px;
    left: 0;
    transition-delay: 0.25s;
}

.navSideBar .navDropDownParent:hover .navDropDownButton {
    background: var(--primaryShade);
}


/*CONTENT*/

.content {
    min-height: 100vh;
}

.containerPrimary {
    background: var(--primaryShade);
    padding: 40px 5%;
}

.containerSecondary {
    background: var(--secondaryShade);
    padding: 40px 5%;
}

.containerTertiary {
    background: var(--tertiaryShade);
    padding: 40px 5%;
    color: white;
}

.containerQuaternary {
    background: var(--quaternaryShade);
    padding: 40px 5%;
    color: white;
}

.image {
    width: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: auto;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0 6px 12px 0;
    border-radius: 4px;
}

.button {
    text-decoration: none;
    color: white;
    margin: 15px auto;
    display: block;
    width: fit-content;
    background: var(--primary);
    padding: 8px 30px;
    font-weight: 350;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px 0;
    transition: all 0.3s;
    user-select: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px 0, rgba(0, 0, 0, 0.15) 0 12px 16px 0, inset rgba(0, 0, 0, 0.12) 0 0 0 10000px;
}

.button:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 0 8px 14px 0, rgba(0, 0, 0, 0.15) 0 18px 26px 0, inset rgba(0, 0, 0, 0.2) 0 0 0 10000px;
}

.button span {
    font-size: 25px;
    padding-right: 8px;
}


/*HERO*/

.heroParent {
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 800px) {
    .heroParent {
        min-height: 100vh;
    }
}

@media all and (max-width: 800px) {
    .heroParent {
        flex-direction: column;
        padding: 65px 5%;
    }
}

.heroBackgroundImage {
    background: linear-gradient( rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%), url("images/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.heroGradient {
    background: linear-gradient(135deg, rgb(138, 35, 255) 10%, rgb(255, 55, 55) 90%);
}

.heroPopout {
    padding-left: 0;
    padding-right: 0;
    margin: 20px 5%;
    margin-top: 0;
    width: calc(90%);
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 12px 0;
    color: white;
}

.heroPopoutOnScroll {
    transition: margin 0.3s, height 0.3s, width 0.3s, padding 0.3s, box-shadow 0.3s;
}

.heroChild {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 800px) {
    .heroChild {
        width: 70%;
    }
}

@media all and (max-width: 600px) {
    .heroChild {
        width: 90%;
    }
}

.heroHeader {
    font-size: 2.75rem;
    margin: 0;
    text-align: center;
    font-weight: 500;
    --textShadowAmount: 0.13;
}

.heroText {
    font-size: 18px;
    width: 80%;
    margin: 30px auto;
    margin-bottom: 0;
    font-weight: 300;
}

@media all and (max-width: 600px) {
    .heroText {
        width: 100%;
    }
}

.heroButton {
    padding: 10px 40px;
    font-size: 19px;
    margin: 30px auto;
}

.heroImage {
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.4) 0 60px 130px 0;
}

@media all and (max-width: 600px) {
    .heroImage {
        width: 100%;
    }
}


/*CARDS*/

.cardContainer {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 0 5%;
    align-items: flex-start;
}

@media all and (max-width: 1150px) {
    .cardContainer {
        justify-content: center;
        flex-direction: column;
    }
}

.cardParent {
    background: var(--quaternaryShade);
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 30px 0;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media all and (max-width: 1150px) {
    .cardParent {
        margin: 10px auto;
    }
}

.transparentCardParent {
    background: transparent;
    box-shadow: none;
}

.cardHeader {
    padding: 0 1rem;
    font-size: 28px;
    font-weight: 450;
}

.cardText {
    padding: 0 2rem;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.9;
    font-weight: 300;
}

.cardImage {
    width: 260px;
    height: 260px;
    object-fit: cover;
    box-shadow: none;
}


/*DISPLAY*/

.displayParent {
    width: 90%;
    padding: 40px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 800px) {
    .displayParent {
        flex-direction: column;
    }
}

.displayBackgroundImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 0 1000px;
    color: white;
}

.displayChild {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 800px) {
    .displayChild {
        width: 70%;
    }
}

@media all and (max-width: 500px) {
    .displayImage {
        width: 90%;
    }
}

.displayHeader {
    font-size: 2.2rem;
    margin: 0;
    font-weight: 450;
}

.displayText {
    font-size: 16px;
    width: 70%;
    margin: 30px auto;
    font-weight: 300;
}

@media all and (max-width: 500px) {
    .displayText {
        width: 90%;
    }
}

.displayImage {}


/*BOX*/

.secondaryBoxParent {
    background: var(--primaryShade);
}

.boxParent {
    width: 70%;
    margin: auto;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 12px 48px 0;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(223, 223, 223);
}

@media all and (max-width: 1050px) {
    .boxParent {
        flex-direction: column;
    }
}

@media all and (max-width: 600px) {
    .boxParent {
        width: 90%;
    }
}

.boxChild {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media all and (max-width: 750px) {
    .boxChild {
        width: 100%;
        margin: auto;
    }
}

.boxHeader {
    font-size: 2.2rem;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    font-weight: 450;
}

.boxText {
    font-size: 15px;
    width: 70%;
    margin: 20px auto;
    font-weight: 300;
}

.boxImage {
    box-shadow: rgba(0, 0, 0, 0.22) 0 20px 30px 0;
}


/*SLIDER*/

.sliderParent {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media all and (max-width: 800px) {
    .sliderParent {
        width: 100%;
    }
}

.slideController {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: auto;
    background: var(--primaryShade);
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.08) 0 4px 28px 0;
    user-select: none;
}

@media all and (max-width: 800px) {
    .slideController {
        width: 40px;
        height: 40px;
    }
}

.slideController:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0 10px 30px 0;
}

.slideController span {
    font-size: 28px;
}

@media all and (max-width: 800px) {
    .slideController span {
        font-size: 24px;
    }
}

.slideControllerLeft {
    left: 0;
}

.slideControllerRight {
    right: 0;
}

.slideParent {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.slideActive {
    display: flex;
}

.slideTopper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    position: relative;
}

@media all and (max-width: 800px) {
    .slideTopper {
        padding: 0 45px;
    }
}

.slideImage {
    width: 50%;
}

@media all and (max-width: 1000px) {
    .slideImage {
        width: 80%;
    }
}

@media all and (max-width: 600px) {
    .slideImage {
        width: 100%;
    }
}

.slideHeader {
    font-size: 2.2rem;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    font-weight: 450;
}

.slideText {
    width: 70%;
    margin: 20px auto;
    font-size: 15px;
    font-weight: 300;
}


/*MENU*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menuButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
}

.menuButton {
    background: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 8px 30px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 12px 56px 0;
    transition: all 0.3s;
}

.menuButton:hover {
    box-shadow: rgba(0, 0, 0, 0) 0 12px 36px 0, inset rgba(0, 0, 0, 0.3) 0 0 0 10000px;
}

.menuButtonActive {
    box-shadow: rgba(0, 0, 0, 0) 0 12px 36px 0, inset rgba(0, 0, 0, 0.3) 0 0 0 10000px;
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.menuItem {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    background: var(--quaternaryShade);
    box-shadow: rgba(0, 0, 0, 0.1) 0 12px 40px 0;
}

.menuItemHide {
    display: none;
}


/*FOOTER*/

.footer {
    --footerPrimary: #2B92F1;
    --footerPrimaryShade: rgb(40, 40, 53);
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 20px 5%;
    background: var(--footerPrimaryShade);
    justify-content: space-between;
    overflow: hidden;
}

@media all and (max-width: 850px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        padding: 40px 5%;
    }
}

.footerLeft {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: column;
}

@media all and (max-width: 850px) {
    .footerLeft {
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
    }
}

.footerTopper {
    display: flex;
    height: fit-content;
    align-items: center;
}

@media all and (max-width: 850px) {
    .footerTopper {
        width: 100%;
        justify-content: center;
    }
}

.footerIcon {
    margin: 0 10px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 30px 0;
}

.footerHeader {
    margin: 0;
    font-size: 25px;
    font-weight: 450;
}

.footerCopyright {
    text-align: center;
    font-weight: 350;
}

.footerContentContainer {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    justify-content: center;
}

@media all and (max-width: 850px) {
    .footerContentContainer {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}

.footerContentChild {
    padding: 0 18px;
    display: flex;
    flex-direction: column;
}

.footerContentHeader {
    font-size: 21px;
    margin: 0;
    padding-bottom: 10px;
    font-weight: 400;
}

@media all and (max-width: 850px) {
    .footerContentHeader {
        padding-top: 20px;
    }
}

.footerLink {
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s;
    padding: 4px 0;
    width: fit-content;
    background-repeat: no-repeat;
    background-size: 210% 210%;
    background-image: linear-gradient(90deg, var(--footerPrimary) 50%, transparent 50%);
    background-position-x: 100%;
    background-position-y: -85%;
    color: var(--footerPrimary);
}

@media all and (max-width: 850px) {
    .footerLink {
        margin: auto;
    }
}

.footerLink:hover {
    background-position-x: 0;
}

.footerLink:focus {
    background-position-x: 0;
    opacity: 0.8;
}

.footerLink:visited {
    opacity: 0.7;
}